/* You can add global styles to this file, and also import other style files */

.content-box {
    border: 2px solid;
}

.cyan {
    background: cyan;
}

.magenta {
    background: magenta;
}

.orange {
    background: orange;
}

.lime {
    background: lime;
}

.inline-error {
    background-color: black;
    color: red;
}